doctype html
html(lang='en')
	head
		title Lists
		base(href='/')
		link(rel='stylesheet', href='css/general.css', type='text/css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(type='text/javascript', src='js/general.js')
		block css

	body

		block js
		block content
