doctype html
html(lang='en')
	head
		title Lists
		base(href='/')
		meta(name="viewport", content="width=500, user-scalable=no")
		link(rel='stylesheet', href='css/generalb.css', type='text/css')
		- if(wTheme)
			link(rel='stylesheet', href='css/extraw.css', type='text/css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(type='text/javascript', src='js/general.js')
		block css

	body

		block js
		block content

		div#footer
			| © Daniel Balle 2014
			form(action='/theme', method='post')
				- if (wTheme) var newt = '87790449'; else var newt = '68567885';
				input(type='hidden', name='newTheme', value='#{newt}')
				input(type='submit', value='this theme sucks')
